.outer-container {
  display: flex;
  width: 100%;
  height: 100%;
  .page-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    .toolbar {
      .spacer {
        flex: 1 1 auto;
      }
    }
    .content {
      display: flex;
      width: 100%;
      flex: 1 1 auto;
      .sidenav-container {
        display: flex;
        width: 100%;
        .panel {
          width: 500px;
          .link {
            display: flex;
            padding: 10px 30px 10px 30px;
            font-size: 2em;
            &:hover {
              cursor: pointer;
              background-color: #ffeec2;
            }
          }
        }
        .sidenav-content {
          background-color: #323232;
          display: flex;
          width: 100%;
        }
      }
    }
  }
}
